#myModal {
    display: none
}

.cosplayHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.cosplayTitle {
    font-size: 2.5em;
}

.addNewCosplay {
    margin-left: 1em;
    margin-top: 10px;
    width: 2em;
    height: 2em;
}

.cosplays {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allCosplays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.cosplay {
    margin: 5px;
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 110px;
    background-color: rgba(255, 255, 255, 0.877);
}

.cosplay-detail-character {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    text-align: center;
    border-bottom: solid 1px;
    justify-content: center;
    
}

.cosplayDetail {
    border: solid 1px;
    border-radius: 20px;
    width: 300px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.877);
}

.character__name {
    font-size: 1.5em;
}

.cosplayTitle {
    color: rgba(255, 255, 255, 0.877);
}

.deleteCosplay {
    height: 2em;
}

.addCosplayToEvent {
    height: 2em;
}

.editCosplay {
    height: 2em;
}

.cosplayForm__title {
    font-size: 1.8em;
    text-decoration: underline;
}