.items {
    border: solid 1px;
    border-radius: 20px;
    padding: 1em;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.877);
    flex-shrink: 1;
}

.itemHeader {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    text-align: center;
    border-bottom: solid 1px;
    justify-content: center;
}

.addNewItem {
    margin-left: 1em;
    height: 2em;
    width: 2em;
}

.item__name {
    font-size: 1.1em;
    font-weight: thick;
    text-decoration: underline;
}

.item {
    margin-bottom: 0.5em;
    flex-basis: 50%;
}

.allItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deleteItem {
    height: 2em;
}

.itemEdit {
    height: 2em;
}

.ItemForm__title {
    font-size: 1.8em;
    text-decoration: underline;
}

