.eventsContainer {
    width: 100%;
    flex-shrink: 1;
}

.allEvents{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.event-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-event {
    margin-left: 1em;
    margin-top: 10px;
    height: 2em;
    width: 2em;
}

.events__future {
    flex-shrink: 1;
    flex-basis: 50%;
}

.eventTitle {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.877);
}

.event-head {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.event-list-head {
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    color: rgba(255, 255, 255, 0.877);
}

.event {
    margin: 5px;
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.877);
}

.eventForm__title {
    text-align: center;
    margin-bottom: 2px;
    flex-basis: 100%;
    font-size: 1.8em;
    text-decoration: underline;
}

.form-group {
    max-width: 300px;
    margin: 2px auto;
    flex-shrink: 1;
}

.btn-primary {
    margin: 0 auto;
}

fieldset {
    padding: 0px;
}

.eventForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
    width: 100%;
}

.btn-primary{
    padding: 10px;
}

.event__name__detail {
    display: flex;
    flex-direction: row;
    font-size: 1.7em;
    text-align: center;
    border-bottom: solid 1px;
    justify-content: center;
}
.eventDetail {
    border: solid 1px;
    border-radius: 20px;
    height: 170px;
    max-width: 300px;
    padding: 1em;
    flex-shrink: 1;
}

.event__name {
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

.deleteEvent__detail {
    margin-left: 1em;
}

.deleteEvent {
    height: 2em;
}

.eventAddSave {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.formContainer {
    margin-right: 2em;
    margin-left: 2em;
}

.events__past {
    flex-shrink: 1;
    flex-basis: 50%;
}

.eventPageDetailContainer {
    flex-shrink: 1;
}

.events {
    flex-shrink: 1;
}

.allFuture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.allPast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}