.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    /* width: 94%; */
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    width: 100%;
}

.form--login {
    color:  rgba(255, 255, 255, 0.877);
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.registerLink {
    color: rgba(255, 255, 255, 0.877);
    font-size: 1.5em;
}

.signin {
    height: 2em;
}

.registerForm {
    background-color: rgba(0, 0, 0, 0.164);
}

.link--register {
    flex-basis: 100%;
}

.loginscreen {
    width: 100%;
}

.registerFormPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
